## Build Results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / VS Code
.vscode/
.vs/
*.user
*.userosscache
*.suo
*.userprefs

## Rider / JetBrains
.idea/
*.DotSettings.user

## OS Generated
.DS_Store
Thumbs.db

## Test results
TestResults/

## Frontend Build & Dependencies
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/logs/
frontend/*.log
node_modules/
dist/
